/* font game */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow: hidden;
}

/*main menu */
.game {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #000, #2e0f1d, #13040a, #0b0615, #09071d, #2e0f1d, #000);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.game span {
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    margin: 0 4px;
    border: solid #580949;
    animation: fall 15s linear infinite;
    animation-duration: calc(100s / var(--i));
}

.game span:nth-child(even) {
    background: transparent;
    border: solid #114f09;
    border-radius: 50%;
}

@keyframes fall {
    0% {
        transform: translateY(100vh) scale(0);
    }

    50% {
        transform: translateY(10vh) scale(0.5);
    }

    100% {
        transform: translateY(-100vh) scale(1);
    }
}

.bg-menu {
    position: absolute;
    z-index: 1;
    width: 800px;
    height: auto;
    overflow: hidden;
}

.start {
    position: absolute;
    z-index: 2;
    margin-top: 440px;
    margin-left: -265px;
    padding: 10px 30px;
    width: 250px;
    border: 3px solid #00f0ff;
    text-shadow: 1px 1px #9ffff8;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
    font-size: 30px;
    color: #00ffc9;
    box-shadow: -2px -2px 3px #9ffff8, 2px 2px 3px #9ffff8;
    background-color: transparent;
}

.start:hover {
    border: 5px solid #00ffc9;
    box-sizing: border-box;
    box-shadow: -5px -5px 15px #00f0ff, 5px 5px 15px #00f0ff;
    border-radius: 15px;
    transition-delay: 0.2s;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #18668d;
}

.connect {
    position: absolute;
    z-index: 2;
    margin-top: 440px;
    margin-left: 265px;
    width: 250px;
    padding: 10px;
    border: 3px solid #00f0ff;
    text-shadow: 1px 1px #9ffff8;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
    font-size: 30px;
    color: #00ffc9;
    box-shadow: -2px -2px 3px #9ffff8, 2px 2px 3px #9ffff8;
    background-color: transparent;
}

.connect:hover {
    border: 5px solid #00ffc9;
    box-sizing: border-box;
    box-shadow: -5px -5px 15px #00f0ff, 5px 5px 15px #00f0ff;
    border-radius: 15px;
    transition-delay: 0.2s;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #18668d;
}

.gameBox {
    width: 70vmin;
    height: 70vmin;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vmin;
    border-radius: 10px;
    box-shadow: -2px -2px 3px #f306cb, 2px 2px 3px #05f0e0;
    padding: 15px;
}

.gameBox button {
    z-index: 2;
    background: #000;
    box-shadow: -2px -2px 3px #9ffff8, 2px 2px 3px #9ffff8;
    height: 20vmin;
    width: 20vmin;
    border: none;
    border-radius: 8px;
    font-family: "Permanent Marker", cursive;
    font-size: 12vmin;
    color: #ffffff;
}

.turn {
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 550px;
    width: 70vmin;
    padding: 10px;
    border: solid #00f0ff;
    border-radius: 15px;
    outline: none;
    font-family: "Press Start 2P", system-ui;
    font-size: 18px;
    background-color: transparent;
}

.turn p {
    position: relative;
    font-family: "Press Start 2P", system-ui;
    font-size: 18px;
    background-color: transparent;
    color: #00ffc9;
    text-shadow: 1px 1px #9ffff8;
    animation: pass 15s linear infinite;
}

@keyframes pass {
    0% {
        transform: translateX(0vh);
    }

    50% {
        transform: translateX(10vh);
    }

    100% {
        transform: translateX(-10vh);
    }
}

.player {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: absolute;
    margin-left: -800px;
    border-radius: 20px;
    font-family: "Press Start 2P", system-ui;
    background-color: #000;
    /* box-shadow: -2px -2px 3px #f306cb, 2px 2px 3px #f306cb; */
}

.player2 {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 4;
    position: absolute;
    margin-left: 800px;
    border-radius: 20px;
    font-family: "Press Start 2P", system-ui;
    background-color: #000;
}

.p1 {
    margin-top: 20px;
    padding: 10px 13px 5px 20px;
    border: none;
    border-radius: 10px;
    align-content: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 100px;
    color: #8c52ff;
}

.p2 {
    margin-bottom: 30px;
    font-size: 18px;
    font-family: "Press Start 2P", system-ui;
    color: #00ffc9;
    background-color: transparent;
}

.restart {
    position: absolute;
    z-index: 2;
    margin-top: 550px;
    margin-left: -220px;
    width: 200px;
    padding: 10px;
    border: 3px solid #00f0ff;
    text-shadow: 1px 1px #9ffff8;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
    font-size: 18px;
    color: #00ffc9;
    background-color: transparent;
}

.disconnect {
    position: absolute;
    z-index: 2;
    margin-top: 550px;
    margin-left: 220px;
    width: 200px;
    padding: 10px;
    border: 3px solid #00f0ff;
    text-shadow: 1px 1px #9ffff8;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
    font-size: 18px;
    color: #00ffc9;
    background-color: transparent;
}